In [2]:
import pandas as pd
import numpy as np
import os
import glob

In [2]:
precip_2018 = pd.read_csv("C:/Users/interactwel/Desktop/PRISM datasets/excel_to_text_script_folder/precipitation_data/precipitation_2018.csv")
precip_2018.head(7)

,date_prism,df_1,df_2,df_3,df_4,df_5,df_6,df_7,df_8,df_9,...,df_41,df_42,df_43,df_44,df_45,df_46,df_47,df_48,df_49,df_50
0,1/1/2018,0.27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1/2/2018,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1/3/2018,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1/4/2018,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1/5/2018,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1/6/2018,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,1/7/2018,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
precip_list = []
for filename in glob.glob('C:/Users/interactwel/Desktop/PRISM datasets/excel_to_text_script_folder/precipitation_data/*.csv'):
    precip_list.append(pd.read_csv(filename, index_col='date_prism',
    parse_dates=['date_prism']))
precip = pd.concat(precip_list, axis='columns') 
precip.head(100)

,df_1,df_2,df_3,df_4,df_5,df_6,df_7,df_8,df_9,df_10,...,df_41,df_42,df_43,df_44,df_45,df_46,df_47,df_48,df_49,df_50
date_prism,,,,,,,,,,,,,,,,,,,,,
2018-01-01,0.27,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-02,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-03,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-04,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-05,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-04-06,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-04-07,0.79,0.77,0.78,0.69,0.75,0.76,0.70,0.77,0.79,0.82,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-04-08,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-04-09,1.22,1.50,1.45,1.76,1.67,1.57,1.99,1.84,1.67,1.52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-04-10,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## PRECIPITATION DATA

In [4]:
import pandas as pd
import glob

# Create an empty list to store DataFrames
precip_list = []

# Read each CSV file and append to the list
for filename in glob.glob('C:/Users/interactwel/Desktop/PRISM datasets/excel_to_text_script_folder/precipitation_data/*.csv'):
    df = pd.read_csv(filename, index_col='date_prism', parse_dates=['date_prism'])
    precip_list.append(df)

# Concatenate the DataFrames along the columns axis
precip = pd.concat(precip_list, axis='columns')

# Display the first 100 rows
print(precip.head(100))

            df_1  df_2  df_3  df_4  df_5  df_6  df_7  df_8  df_9  df_10  ...  \
date_prism                                                               ...
2018-01-01  0.27  0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00   0.00  ...
2018-01-02  0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00   0.00  ...
2018-01-03  0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00   0.00  ...
2018-01-04  0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00   0.00  ...
2018-01-05  0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00   0.00  ...
...          ...   ...   ...   ...   ...   ...   ...   ...   ...    ...  ...
2018-04-06  0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00   0.00  ...
2018-04-07  0.79  0.77  0.78  0.69  0.75  0.76  0.70  0.77  0.79   0.82  ...
2018-04-08  0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00   0.00  ...
2018-04-09  1.22  1.50  1.45  1.76  1.67  1.57  1.99  1.84  1.67   1.52  ...
2018-04-10  0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00   0.00  ...

            df_41  df_42  df_43  df_44  df_45  df_46  df_47  df_48  df_49  \
date_prism
2018-01-01    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2018-01-02    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2018-01-03    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2018-01-04    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2018-01-05    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
...           ...    ...    ...    ...    ...    ...    ...    ...    ...
2018-04-06    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2018-04-07    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2018-04-08    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2018-04-09    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2018-04-10    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

            df_50
date_prism
2018-01-01    NaN
2018-01-02    NaN
2018-01-03    NaN
2018-01-04    NaN
2018-01-05    NaN
...           ...
2018-04-06    NaN
2018-04-07    NaN
2018-04-08    NaN
2018-04-09    NaN
2018-04-10    NaN

[100 rows x 250 columns]

In [6]:

# List of file names
file_names = [r"C:\Users\interactwel\Desktop\PRISM datasets\excel_to_text_script_folder\precipitation_data\precipitation_2018.csv",
               r"C:\Users\interactwel\Desktop\PRISM datasets\excel_to_text_script_folder\precipitation_data\precipitation_2019.csv", 
               r"C:\Users\interactwel\Desktop\PRISM datasets\excel_to_text_script_folder\precipitation_data\precipitation_2020.csv",
                 r"C:\Users\interactwel\Desktop\PRISM datasets\excel_to_text_script_folder\precipitation_data\precipitation_2021.csv", 
                 r"C:\Users\interactwel\Desktop\PRISM datasets\excel_to_text_script_folder\precipitation_data\precipitation_2022.csv"
                 ]

# Read the first CSV file
df = pd.read_csv(file_names[0])

In [29]:

# Read and concatenate all CSV files
df_list = [pd.read_csv(file) for file in file_names]
df = pd.concat(df_list, ignore_index=True)

In [30]:
df.head(100)

,date_prism,df_1,df_2,df_3,df_4,df_5,df_6,df_7,df_8,df_9,...,df_41,df_42,df_43,df_44,df_45,df_46,df_47,df_48,df_49,df_50
0,1/1/2018,0.27,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,1/2/2018,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,1/3/2018,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,1/4/2018,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,1/5/2018,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,4/6/2018,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
96,4/7/2018,0.79,0.77,0.78,0.69,0.75,0.76,0.70,0.77,0.79,...,0.47,0.45,0.45,0.45,0.47,0.51,0.52,0.52,0.65,0.67
97,4/8/2018,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
98,4/9/2018,1.22,1.50,1.45,1.76,1.67,1.57,1.99,1.84,1.67,...,2.41,2.56,2.51,2.38,2.39,2.29,2.35,2.30,2.33,2.30
99,4/10/2018,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [31]:
# Save the merged DataFrame to a new CSV file
df.to_csv("Precipitation_data_big_watershed.csv", index=False)

## Temperature data

#### Maximum Temperature Data

In [32]:
# List of file names
file_names = [r"C:\Users\interactwel\Desktop\PRISM datasets\excel_to_text_script_folder\temp_max_2018.csv",
               r"C:\Users\interactwel\Desktop\PRISM datasets\excel_to_text_script_folder\temp_max_2019.csv", 
               r"C:\Users\interactwel\Desktop\PRISM datasets\excel_to_text_script_folder\temp_max_2020.csv",
                 r"C:\Users\interactwel\Desktop\PRISM datasets\excel_to_text_script_folder\temp_max_2021.csv", 
                 r"C:\Users\interactwel\Desktop\PRISM datasets\excel_to_text_script_folder\temp_max_2022.csv"
                 ]

# Read the first CSV file
df = pd.read_csv(file_names[0])

In [39]:
# Read and concatenate all CSV files
df_list = [pd.read_csv(file) for file in file_names]
df = pd.concat(df_list, ignore_index=True)

In [41]:
df.head(100)

,date_prism,tmax_1,tmax_2,tmax_3,tmax_4,tmax_5,tmax_6,tmax_7,tmax_8,tmax_9,...,tmax_41,tmax_42,tmax_43,tmax_44,tmax_45,tmax_46,tmax_47,tmax_48,tmax_49,tmax_50
0,1/1/2018,-10.2,-10.0,-10.0,-9.6,-9.8,-9.8,-9.5,-9.6,-9.6,...,-8.8,-8.1,-8.4,-8.6,-8.6,-8.6,-7.9,-8.3,-7.8,-8.1
1,1/2/2018,-14.1,-13.7,-13.7,-13.0,-13.2,-13.3,-12.7,-12.8,-13.0,...,-11.9,-10.8,-11.1,-11.2,-11.2,-11.4,-10.6,-11.1,-10.6,-10.8
2,1/3/2018,-9.7,-9.4,-9.4,-8.6,-9.0,-9.1,-8.3,-8.5,-8.8,...,-7.8,-7.0,-7.4,-7.6,-7.6,-7.6,-6.9,-7.4,-7.1,-7.2
3,1/4/2018,-5.4,-5.1,-5.1,-4.5,-4.6,-4.7,-4.2,-4.3,-4.5,...,-3.7,-2.8,-3.1,-3.3,-3.4,-3.5,-2.7,-3.1,-2.6,-2.7
4,1/5/2018,-8.2,-8.1,-8.0,-7.6,-7.8,-7.9,-7.4,-7.5,-7.7,...,-7.2,-6.6,-6.9,-6.8,-6.8,-6.9,-6.6,-6.9,-6.6,-6.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,4/6/2018,9.1,9.6,9.5,10.1,10.0,9.9,10.1,10.1,10.2,...,11.2,11.3,11.3,11.3,11.4,11.3,11.4,11.3,11.6,11.4
96,4/7/2018,13.0,13.6,13.6,14.1,14.1,14.1,14.2,14.3,14.3,...,15.4,15.1,15.3,15.4,15.5,15.5,15.1,15.3,15.4,15.4
97,4/8/2018,4.7,5.2,5.1,5.5,5.5,5.5,5.6,5.6,5.6,...,6.4,6.3,6.4,6.4,6.4,6.4,6.4,6.4,6.5,6.4
98,4/9/2018,5.2,5.6,5.6,5.9,5.9,5.9,6.0,6.0,6.0,...,6.6,6.6,6.6,6.6,6.6,6.6,6.6,6.6,6.8,6.7
99,4/10/2018,4.4,4.9,4.9,5.2,5.3,5.2,5.4,5.4,5.4,...,6.7,6.8,6.7,6.8,7.0,6.9,6.9,6.9,7.3,7.2

In [43]:
# Save the merged DataFrame to a new CSV file
df.to_csv("Max_Temperature_data_big_watershed.csv", index=False)

### Minimum Temperature Data

In [44]:
# List of file names
file_names = [r"C:\Users\interactwel\Desktop\PRISM datasets\excel_to_text_script_folder\temp_min_2018.csv",
               r"C:\Users\interactwel\Desktop\PRISM datasets\excel_to_text_script_folder\temp_min_2019.csv", 
               r"C:\Users\interactwel\Desktop\PRISM datasets\excel_to_text_script_folder\temp_min_2020.csv",
                 r"C:\Users\interactwel\Desktop\PRISM datasets\excel_to_text_script_folder\temp_min_2021.csv", 
                 r"C:\Users\interactwel\Desktop\PRISM datasets\excel_to_text_script_folder\temp_min_2022.csv"
                 ]

# Read the first CSV file
df = pd.read_csv(file_names[0])

In [45]:
# Read and concatenate all CSV files
df_list = [pd.read_csv(file) for file in file_names]
df = pd.concat(df_list, ignore_index=True)

In [46]:
df.head(100)

,date_prism,tm_1,tm_2,tm_3,tm_4,tm_5,tm_6,tm_7,tm_8,tm_9,...,tm_41,tm_42,tm_43,tm_44,tm_45,tm_46,tm_47,tm_48,tm_49,tm_50
0,1/1/2018,-19.7,-19.7,-19.8,-19.3,-19.5,-19.7,-19.2,-19.3,-19.5,...,-18.7,-18.5,-18.5,-18.6,-18.6,-18.7,-18.5,-18.6,-18.3,-18.5
1,1/2/2018,-23.3,-23.2,-23.4,-22.6,-23.0,-23.3,-22.4,-22.6,-23.0,...,-21.2,-20.8,-20.8,-20.9,-20.9,-21.1,-20.7,-20.9,-20.5,-20.7
2,1/3/2018,-23.3,-23.1,-23.3,-22.5,-22.9,-23.2,-22.3,-22.5,-22.9,...,-21.3,-20.8,-20.8,-20.9,-20.9,-21.1,-20.7,-20.9,-20.5,-20.7
3,1/4/2018,-17.9,-17.7,-17.7,-17.3,-17.6,-17.6,-17.2,-17.3,-17.6,...,-16.6,-16.3,-16.2,-16.3,-16.4,-16.5,-16.3,-16.4,-16.6,-16.6
4,1/5/2018,-19.2,-19.2,-19.3,-18.8,-19.0,-19.3,-18.7,-18.9,-19.0,...,-17.8,-17.3,-17.3,-17.4,-17.4,-17.6,-17.2,-17.4,-17.0,-17.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,4/6/2018,-2.3,-2.2,-2.4,-2.1,-2.2,-2.3,-2.0,-2.0,-2.0,...,-1.9,-2.3,-2.2,-2.1,-2.2,-2.1,-2.3,-2.1,-2.2,-2.0
96,4/7/2018,-2.5,-2.5,-2.6,-2.4,-2.5,-2.6,-2.5,-2.5,-2.5,...,-2.2,-2.0,-2.1,-2.1,-2.1,-2.1,-2.0,-2.1,-2.0,-2.0
97,4/8/2018,-5.1,-4.9,-5.1,-5.0,-5.1,-5.2,-5.0,-5.0,-5.1,...,-4.4,-4.6,-4.6,-4.6,-4.6,-4.5,-4.6,-4.6,-4.2,-4.2
98,4/9/2018,-2.9,-2.7,-2.8,-2.5,-2.6,-2.9,-2.4,-2.4,-2.4,...,-1.7,-2.0,-2.0,-2.0,-1.9,-1.9,-2.1,-2.0,-1.7,-1.8
99,4/10/2018,-2.1,-1.9,-2.0,-1.7,-1.9,-1.9,-1.7,-1.7,-1.8,...,-1.3,-1.6,-1.6,-1.6,-1.5,-1.4,-1.6,-1.5,-1.2,-1.2

In [47]:
# Save the merged DataFrame to a new CSV file
df.to_csv("Min_Temperature_data_big_watershed.csv", index=False)

In [3]:
# List of file names
file_names = [r"C:\Users\interactwel\Desktop\PRISM datasets\excel_to_text_script_folder\temp_max_smallwatershed_2018.csv",
               r"C:\Users\interactwel\Desktop\PRISM datasets\excel_to_text_script_folder\temp_max_smallwatershed_2019.csv", 
               r"C:\Users\interactwel\Desktop\PRISM datasets\excel_to_text_script_folder\temp_max_smallwatershed_2020.csv",
                 r"C:\Users\interactwel\Desktop\PRISM datasets\excel_to_text_script_folder\temp_max_smallwatershed_2021.csv", 
                 r"C:\Users\interactwel\Desktop\PRISM datasets\excel_to_text_script_folder\temp_max_smallwatershed_2022.csv"
                 ]

# Read the first CSV file
df = pd.read_csv(file_names[0])

In [4]:
# Save the merged DataFrame to a new CSV file
df.to_csv("Max_Temperature_data_small_watershed.csv", index=False)

In [5]:
# List of file names
file_names = [r"C:\Users\interactwel\Desktop\PRISM datasets\excel_to_text_script_folder\temp_min_smallwatershed_2018.csv",
               r"C:\Users\interactwel\Desktop\PRISM datasets\excel_to_text_script_folder\temp_min_smallwatershed_2019.csv", 
               r"C:\Users\interactwel\Desktop\PRISM datasets\excel_to_text_script_folder\temp_min_smallwatershed_2020.csv",
                 r"C:\Users\interactwel\Desktop\PRISM datasets\excel_to_text_script_folder\temp_min_smallwatershed_2021.csv", 
                 r"C:\Users\interactwel\Desktop\PRISM datasets\excel_to_text_script_folder\temp_min_smallwatershed_2022.csv"
                 ]

# Read the first CSV file
df = pd.read_csv(file_names[0])

In [6]:
# Save the merged DataFrame to a new CSV file
df.to_csv("Min_Temperature_data_small_watershed.csv", index=False)